<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--This is what you are looking for.-->
    <add key="welcomeBanner" value="This was written entirely in C#. :)" />
    <add key="password" value="hydra"/>
    <add key="usepassword" value="true"/>
    <add key="port" value="8081"/>
  </appSettings>
</configuration>